.button {
    border: none;
}


.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.candidate-input {
    padding: 11px;
    border: none;
    border-radius: 8px;
    margin-right: 7px;
    background-color: #e8e8e8;
    outline: none;
    border: 1px solid #b9b9b9;
}

.candidate-input:focus {
    border: 1px solid#6a83ff;
}

.input-btn {
    padding: 11px;
    border-radius: 8px;
    color: #fff;
    font-weight: 800;
    background-color: #6a83ff;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.input-btn:hover {
    background-color: #5d75ef;
}

.select-candidate {
    width: 100%;
}

.select-form {
    width: 340px;
}

.selection {
    padding: 11px;
    outline: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #b9b9b9;
    background-color: #e8e8e8;
}

.selection:focus {
    border: 1px solid#6a83ff;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-module {
    display: flex;
}

.select-module select {
    margin-right: 7px;
}

.vote-btn {
    padding: 11px;
    border-radius: 8px;
    color: #fff;
    font-weight: 800;
    background-color: #6a83ff;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.vote-btn:hover {
    background-color: #5d75ef;
}

